* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  font-family: "Dancing Script", cursive; */
}

body {
  font-family: "Dancing Script", cursive;
}

.contenedor {
  padding: 60px 0;
  width: 100%;
  max-width: 100px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.textos-header {
  color: #0b610b;
  font-size: 30px;
  text-decoration: dotted;
  text-align: center;
  margin-bottom: 60px;
}

header {
  width: 100%;
  height: 600px;
  background: #dd3e54; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6be5859d, #dd3e53b7),
    url(../IMG/flores-colores-696x391.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6be5859d, #dd3e53b7), url(../IMG/8.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}
